global:
  scrape_interval: 15s

rule_files:
  - "prometheus-rules.yml"

alerting:
  alertmanagers:
    - static_configs:
        - targets: ['alertmanager:9093']

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node-exporter'
    dockerswarm_sd_configs:
      - role: tasks
    relabel_configs:
      # Scrape services that have the label "prometheus-job=node-exporter"
      - source_labels: [__meta_docker_service_label_prometheus_job]
        action: keep
        regex: node-exporter

  - job_name: 'cadvisor'
    dockerswarm_sd_configs:
      - role: tasks
    relabel_configs:
      # Scrape services that have the label "prometheus-job=cadvisor"
      - source_labels: [__meta_docker_service_label_prometheus_job]
        action: keep
        regex: cadvisor

  - job_name: 'swarm-services'
    dockerswarm_sd_configs:
      - role: tasks
    relabel_configs:
      # Scrape services that have the label "prometheus-scrape=true"
      - source_labels: [__meta_docker_service_label_prometheus_scrape]
        action: keep
        regex: true
